<h1>Admin Dashboard</h1>

<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Number of Categories</th>
        <th>Number of Products</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><%= @categories_count %></p>
        </td>
        <td>
          <p><%= @products_count %></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to 'See All Products', admin_products_path %>
