<h1>Admin Dashboard</h1>

<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= link_to 'Products', admin_products_path %></th>
        <th><%= link_to 'Categories', admin_categories_path %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><%= @products_count %></p>
        </td>
        <td>
          <p><%= @categories_count %></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>



