<section>

  <header class="page-header">
    <h1>About</h1>
  </header>

  <div>
    Jungle is a fake e-commerce application designed to help students learn how to work with an existing codebase.
  </div>

</section>
